.navbar-toggler{
    border: 0px solid white;
    box-shadow: none !important;
}
.navbar-toggler:hover{
    border: 0px solid white;
}
.navbar{
    background-color: black !important;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 5px 5px  rgba(255, 0, 0, 0.678);
    position: fixed !important;
}
.footer{
    padding: 11px 10px 10px 10px;
    width: 100%;
    background-color: black !important;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px 0px 5px 5px  rgba(255, 0, 0, 0.678);
    margin-top: 73vh;
    position: fixed !important;
    z-index: 99 !important;
  }
  #last{
    transition: transform 1s ease;
  }
  
  #card {
    transition: opacity 1s ease; /* Transition for opacity */
  }
button{
    text-decoration: none;
    border: none;
    background-color: transparent ;
}
.logo{
    width: 70px;
}

/* Style the range input */
/* Remove default styles for WebKit browsers */
input[type=range] {
    -webkit-appearance: none;
    width: 100%; 
    height: 30px; 
    background-color: transparent; 
    border-radius: 5px; 
    outline: 3px solid red; 
}
small{
  color: red;
}

input[type=range]::-moz-range-thumb{
  -webkit-appearance: none; /* Remove default styling for WebKit browsers */
  -moz-apperance: none; /* Remove default styling for Firefox */
  appearance: none;
    width: 2px; 
    height: 25px;   
    background-color: #ffffff;
    border-radius: 0px;
    cursor: pointer; 
}
input[type="range"]::-ms-thumb {
  -webkit-appearance: none; /* Remove default styling for WebKit browsers */
  -moz-apperance: none; /* Remove default styling for Firefox */
  appearance: none;
  width: 2px; 
  height: 25px;   
  background-color: #ffffff;
  border-radius: 0px;
  cursor: pointer; 
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default styling for WebKit browsers */
  -moz-apperance: none; /* Remove default styling for Firefox */
  appearance: none;
  width: 2px; 
  height: 25px;   
  background-color: #ffffff;
  border-radius: 0px;
  cursor: pointer; 
}

.space{
    padding: 50px !important;
}
small{
    font-size: 12px !important;
}
.range-wrapper{
    display: flex;
}
@media screen and (max-width: 475px){
    
    .offcanvas{
        width: 60% !important;
    }
}



/*------ Settings ------*/
.containerplay {
    --color: red;
    --size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: var(--size);
    user-select: none;
    fill: var(--color);
  }
  
  .containerplay .play {
    position: absolute;
    animation: keyframes-fill .5s;
  }
  
  .containerplay .pause {
    position: absolute;
    display: none;
    animation: keyframes-fill .5s;
  }
  
  /* ------ On check event ------ */
  .containerplay input:checked ~ .play {
    display: none;
  }
  
  .containerplay input:checked ~ .pause {
    display: block;
  }
  
  /* ------ Hide the default checkbox ------ */
  .containerplay input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  #foot{
    position: absolute;
    margin-top: -30px;
    margin-left:  80% !important;
  }
  
  /* ------ Animation ------ */
  @keyframes keyframes-fill {
    0% {
      transform: rotate(-180deg) scale(0);
      opacity: 0;
    }
  
    50% {
      transform: rotate(-10deg) scale(1.2);
    }
  }
















  .card {
    --main-color: #fff;
    --bg-color: #090909;
    --sub-main-color: #B9B9B9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    height: 90vh;
    background: var(--bg-color);
    border-radius: 20px;
    padding: 30px;
  }
  
  .card__menu {
    cursor: pointer;
  }
  
  .card__img {
    height: 224px;
    width: 224px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    background: #131313;
    border-radius: 100%;
  }
  
  .card__img svg {
    width: 154px;
    height: 154px;
    border-radius: 100%;
  }
  
  .card__title {
    font-weight: 500;
    font-size: 28px;
    color: var(--main-color);
    text-align: center;
    margin-bottom: 10px;
  }
  
  .card__subtitle {
    font-weight: 400;
    font-size: 16px;
    color: var(--sub-main-color);
    text-align: center;
    cursor: pointer;
  }
  
  .card__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .card__time {
    font-weight: 400;
    font-size: 12px;
    color: var(--main-color);
  }
  
  .card__timeline {
    width: 100%;
    height: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .card__timeline progress {
    width: 100%;
    height: 100%;
    border-radius: 100px;
  }
  
  .card__timeline progress::-webkit-progress-bar {
    background-color: #424242;
    border-radius: 100px;
  }
  
  .card__timeline progress::-webkit-progress-value {
    background-color: #fff;
    border-radius: 100px;
  }
  
  .card__btn {
    border: none;
    background: transparent;
    cursor: pointer;
    margin-right: 350px;
  }
  
  .card__btn path {
    fill: var(--main-color);
  }
  
  .card__btn-play {
    width: 60px;
    height: 60px;
    background: var(--main-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card__btn-play path {
    fill: var(--bg-color);
  }
.musiclist{
  display: inline;
}    
.songimg{
  float: left !important;
}
small{
  display: block !important;
}
.name{
  position: sticky !important;
  margin-top: 5px !important;
  margin-right: 80px !important;
  border: 0px solid rgb(238, 255, 0);

} 
.all{
  overflow: hidden !important;
}
.all:hover{
  background-color: rgba(0, 0, 0, 0.137) !important;
}